/* selector universal */
*{
    padding: 0%;
    margin: 0%;
}

/* selector de etiqueta*/
body{
    padding: 10px;
    background-color: #e6edd9;
    color: white;
}
/* selector de id */
#contenedor {
    width: 900px;
    height: 1000px;
    background-color: beige;
    margin: auto;
}
#encabezado {
    width: 70%;
    padding: 15px;
    color: #000;
    height: 5%;
    border-radius: 5px;
    text-align: center;

}
#menu {
    font-size: medium;
    height: 7%;
    margin: 1em;

    
}
ul{
   text-align: center;
   padding: 15px;
}
li{
    color: white;
    display: inline;
    padding: 10px 30px;
    margin: 3px;
}
li a{
    color: black;
    text-decoration: none;
    list-style: none;
}
li a:hover{
    color: crimson;
    text-decoration: none;
    list-style: none;
}
.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 5px 25px;
    color: #000;

}
#contenido {
    height: 75%;
    width: 58%;
    background-color: #b5bf9a;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}
.img{
    width: 29%;
    justify-items: center;
}
.encabezado-articulo{
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}
#fueraSeccion{
    height: 75%;
    width: 35%;
    background-color: #b5bf9a;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}
.encabezado-aside{
    padding: 10px 10px;
    text-align: center;
    color: white;
}
.menu-aside{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 0 2px;
    list-style: square;
    color: #000;
}
.lista-aside {
    text-align: left;
    padding: 10px;
}
.lista-aside li {  
    margin: 0px 100px;
    display: list-item;
    list-style: square;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 0px 2px;
    color: #000;
}
.img-aside{
    width: 60%;
    justify-items: center;
}
#pie {
    height: 10px;
    background-color: #b5bf9a;
    margin: 1.5 em;
    text-align: center;
    padding: 5px;

}
#pie h4{
    padding: 15px;
    font-size: 20px;
    background-color: #a9ab89;
    
}
